<!-- the title should be in the header of the dialog -->
<h1 mat-dialog-title>
  Using REST with <em>{{ typeName$ | async }}</em>
</h1>
<mat-dialog-content>
  <p>
    All the data in this system can easily be used in JavaScript using a REST
    API. This information should help you get started.
  </p>
  <p>
    <!-- this should look like an important info -->
    <em>
      Important: As a host-user you can always access these REST endpoints, but
      if you want to use them in a public UI, you must remember to set the
      permissions to allow this.
    </em>
  </p>

  <div>
    <app-selector-observable #scenarioPicker
      label="Choose Scenario"
      [items]="scenarios"
    ></app-selector-observable>

    <!-- only show dnn-version if not accessing from internal -->
    <ng-container *ngIf="(currentScenario | async)?.key !== 'internal'">
      <mat-form-field>
        <mat-label>Choose DNN Version</mat-label>
        <mat-select
          [value]="envKey | async"
          (selectionChange)="envKey.next($event.value)"
        >
          <mat-option *ngFor="let env of environments" [value]="env.key">
            {{ env.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-icon-button
        color="primary"
        (click)="showInfo = !showInfo"
      >
        <mat-icon>help</mat-icon>
      </button>
    </ng-container>
  </div>

  <div *ngIf="showEnvHelp">
    {{ (currentEnv | async)?.description }}
  </div>

  <ng-container
    *ngIf="(currentScenario | async)?.key === 'internal'; then internal; else external"
  ></ng-container>

  <ng-template #internal>
    <mat-tab-group>
      <mat-tab label="Virtual REST URLs">
        <ng-template matTabContent>
          <div>
            Virtual REST URLs are shorter URLs, which are automatically resolved
            to the full length (based on the dnn-version, current portal, etc.)
            thanks to $2sxc. This happens when you use the
            <a
              href="https://github.com/2sic/2sxc/wiki/javascript-sxc-webapi"
              target="_blank"
              >$2sxc.webApi(...)</a
            >
            or if you use
            <a
              href="https://www.npmjs.com/package/@2sic.com/dnn-sxc-angular"
              target="_blank"
              >dnn-sxc-angular (npm package)</a
            >
            (which also passes url-resolving through $2sxc).
          </div>

          <ng-container *ngTemplateOutlet="restUrls"></ng-container>
        </ng-template>
      </mat-tab>
      <mat-tab label="JS Calls using $2sxc">
        <ng-template matTabContent>
          Todo
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </ng-template>

  <ng-template #external>
    <mat-tab-group>
      <mat-tab label="Full REST URLs">
        <ng-template matTabContent>
          <ng-container *ngTemplateOutlet="restUrls"></ng-container>
        </ng-template>
      </mat-tab>
      <mat-tab label="JS Calls using $2sxc">
        <ng-template matTabContent>
          Todo
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </ng-template>

  <ng-template #restUrls>
    <mat-list>
      <mat-list-item>
        <h3 matLine>Read list of all items</h3>
        <div matLine>
          <code>GET</code>: <code>{{ root$ | async }}</code>
        </div>
        <button mat-raised-button (click)="callApiGet(root$)">
          execute call
        </button>
        <a
          *ngIf="(currentScenario | async)?.key === 'external'"
          [href]="root$ | async"
          target="_blank"
        >
          open
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h3 matLine>Read a single item #27</h3>
        <div matLine>
          <code>GET</code>: <code>{{ root$ | async }}/27</code>
        </div>
        <button mat-raised-button (click)="callApiGet(root$, '27')">
          execute call
        </button>
        <a
          *ngIf="(currentScenario | async)?.key === 'external'"
          [href]="root$ | async"
          target="_blank"
        >
          open
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h3 matLine>Create an item</h3>
        <div matLine>
          <code>POST</code>: <code>{{ root$ | async }}</code>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h3 matLine>Update the item #27</h3>
        <div matLine>
          <code>POST</code>: <code>{{ root$ | async }}/27</code>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h3 matLine>Delete the item #27</h3>
        <div matLine>
          <code>DELETE</code>: <code>{{ root$ | async }}/27</code>
        </div>
      </mat-list-item>
    </mat-list>
  </ng-template>
</mat-dialog-content>
